body {
  background-color: #e9e9e9;
  padding-top: 70px;
}
.navbar-inverse {
  background: #222;
}
.container-main {
  max-width: 970px;
}
.container .jumbotron {
  padding: 48px;
  background: none;
}
.jumbotron h1 {
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
}
.jumbotron p {
  font-size: 1.25em;
}
.tagline {
  padding-top: 0.5em;
}
.navbar-brand {
  position: absolute;
}
.navbar-nav {
  text-align: center;
  width: 100%;
  float: none;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.screenshots-frame {
  background: url('../img/frame.png') no-repeat;
  background-size: 100%;
  width: 399px;
  height: 595px;
  margin: 24px auto 0 auto;
}
.carousel-control {
  display: none;
}
.screenshots:hover .carousel-control {
  display: block;
}
.screenshots {
  position: relative;
  top: 93px;
  left: 75px;
  width: 250px;
}

footer {
  margin-top: 48px;
  padding: 24px 0;
  line-height: 0.75em;
  border-top: 1px solid #ccc;
  text-align: center;
  opacity: 0.7;
}

.carousel-screenshots img {
  width:100%;
  height:auto;
}

.github-ribbon {
    display: none;
}

.github-ribbon img {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    z-index: 9999;
}

@media (min-width: 768px) {
  .github-ribbon {
    display: block;
  }
}
